.user-about {
    width: 30rem;
    background-image: linear-gradient(#f06442, #b45b44);
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 3rem;
    color: #fff;
    border-radius: 0.5rem;
}

.user-about h1 {
    text-align: center;
}

.user-about h2,
.user-about h1,
.user-about p {
    margin-bottom: 0.5rem;
}

.user-about a {
    text-align: center;
    margin-top: 0.6rem;
}

.user-about a i {
    color: #fff;
    font-size: 1.5rem;
}

.class-count {
    width: 8rem;
    font-size: 1.1rem;
    background-color: #fff;
    color: #f06442;
    transition: 0.3s all ease-in-out;
    border: 1px solid #f06442;
}

.class-count:hover {
    background-color: #b45b44;
    color: #fff;
    border-color: purple;
}