/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0.3rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

main {
  position: relative;
}

.logo-container {
  position: relative;
}

.logo-container .logo-img {
  width: 3rem;
}

.network-image_header {
  width: 0.8rem;
  position: absolute;
}

.nav-items {
  display: flex;
  gap: 1.5rem;
}

.nav-items a,
.res-container a {
  color: black;
}

.nav-items a::after {
  content: '';
  display: block;
  width: 0;
  height: 0.2rem;
  background-color: #ee5732;
  margin: 0.1rem auto -0.2rem;
  border-radius: 1rem;
  transition: 0.2s all ease-in-out;
}

.nav-items a:hover,
.nav-items a:hover::after {
  color: #ee5732;
  width: 100%;
}

button {
  padding: 0.6rem 0.8rem;
  border-radius: 0.3rem;
  background: transparent;
  border: 1px solid #fff;
  transition: all 0.2s;
  cursor: pointer;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.login-btn {
  background-color: #ee5732;
  font-size: 1.01rem;
}

.cart-item {
  color: #ee5732;
}

button:hover {
  border: 1px solid #ee5732;
  background-color: transparent;
  color: #ee5732;
}

.shimmer-main {
  margin-top: 2rem;
  width: 100%;
}

.search-container,
.shimmer_search-container {
  width: 80%;
  padding-top: 3rem;
  font-size: 1.2rem;
  color: #fff;
  margin: 0 auto;
}

#search-bar {
  width: 75%;
  margin-right: 1.8rem;
  padding: 0.6rem 1.2rem;
  outline: none;
  border: 1px solid #ee5732;
  border-radius: 0.3rem;
}

.filter-btn {
  margin: 1.5rem 0 0 4rem;
  background-color: #ee5732;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
}

.shimmer_buttons {
  width: 80%;
  margin: 1.5rem auto;
}

.shimmer_restaurant {
  padding: 0.5rem 5rem;
  margin-right: 2rem;
}

@media (min-width: 740px) {
  #search-bar {
    width: 86%;
  }

  .filter-btn {
    margin-left: 8.2rem;
    font-size: 1.1rem;
    padding: 0.8rem;
  }
}


.search-btn {
  font-size: 1.1rem;
  background-color: #ee5732;
  padding: 0.5rem 1.2rem 0.5rem;
  border-radius: 0.3rem;
  border-width: 1px;
}

.res-container,
.shimmer_cards-container {
  max-width: 70rem;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.shimmer_cards-container {
  color: #fff;
}

.res-cards,
.shimmer_card {
  border-radius: 0.3rem;
  width: 18rem;
  height: 24rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.shimmer_card {
  background-color: #e0dfdf;
}

#order-btn,
.shimmer_order-btn {
  position: absolute;
  bottom: 1.25rem;
  right: 1rem;
  background-color: #ee5732;
  border-width: 1px;
  padding: 0.3rem 0.5rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.shimmer_order-btn {
  padding: 0.6rem 1.6rem;
}

#order-btn:hover {
  background-color: transparent;
  border: 1px solid #ee5732;
  color: #ee5732;
}

.res-cards:hover {
  box-shadow: 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-details {
  padding: 0 0.8rem;
}

.card-details p {
  margin-top: -0.5rem;
}

.fa-star {
  width: 1rem;
  color: #ee5732;
}

.res-cards .food-image,
.shimmer_card-image {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  transition: all 0.3s;
}

.shimmer_texts {
  width: 80%;
  height: 0.8rem;
  margin: 2rem auto;
}

.shimmer_card-image,
.shimmer_restaurant,
.shimmer_search-container,
.shimmer_texts,
.shimmer_order-btn {
  background-color: #b4b4b4;
}

.res-cards .food-image:hover {
  scale: 1.02;
}