.network-issue_container {
    position: relative;
    color: red;
    width: 35rem;
    margin: 5rem auto;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
}

.network-issue_container h1 {
    font-size: 2rem;
}

.warning-image {
    position: absolute;
    width: 26%;
    top: 1.5rem;
    right: 0;
}