.res-details {
    width: 62%;
    margin: 0 auto;
}

.res-details h1 {
    font-size: 2rem;
}

.res-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-left h2 {
    font-size: 1.2rem;
}

.col-left p {
    font-size: 0.9rem;
}


.col-right div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
}

.res-rating i {
    margin-right: 0.3rem;
}

.res-rating::after {
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    margin: 0.5rem auto;
    background-color: #000;
}

.res__header-foot i {
    margin-right: 0.5rem;
}

.menu-lists {
    margin-block: 5rem;
    padding-left: 0;
}

.menu-lists li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #919090;
    padding: 1rem 0;
}

li .menu-image {
    position: relative;
    width: 20%;
}

li .menu-image img {
    width: 100%;
    margin: 0 auto;
    border-radius: 0.3rem;
}

button.add-food-btn {
    text-transform: uppercase;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1.5rem;
    color: #000;
    bottom: 0;
    left: 2.5rem;
}